<h3>Contacts result in raw JSON</h3>
<br />

<div class="container">
  <div class="form-container">

    This is where the form will be contained<br />

    <form action="/filter" method="post">
      <div class="form-text-box">
        <label for="elementId">ContactID/Number</label><br/>
        <input type="text" name="elementId" value="{{elementId}}">
      </div>
      <div class="form-text-box">
        <label for="modified-after">Modified After</label><br/>
        <input type="date" name="modified-after" value="{{modified-after}}">
      </div>
      <div class="form-text-box">
        <label for="explicit-query">Explicit Query</label><br/>
        <input type="text" name="explicitQueryContactIds" value="{{explicitQueryContactIds}}" placeholder="ContactIDs">
      </div>
      <div class="form-text-box">
        <label for="where">Where</label><br/>
        <input type="text" name="where" value="{{where}}">
      </div>
      <label for="page">Page</label><br/>
      <input type="number" name="page" value="{{page}}">
  </div>
  <div >
    <input type="submit" value="Submit">
  </div>
  </form>
</div>
<div class="response-container">
  Response: <br /> 
  
  <pre>{{beautiful contacts}}</pre>
 

</div>
</div>