<h3>GET Invoices</h3>
<br />

<div class="container">
  <div class="form-container">

    Request: <br />

    <form action="/filter" method="post">
      <div class="form-text-box">
        <label for="elementId">Invoice ID/Number</label><br/>
        <input type="text" name="InvoiceID" id="elementId" value="{{elementId}}">
      </div>
      <div class="form-text-box">
        <label for="modified-after">Modified After</label><br/>
        <input type="date" name="modified-after" id="modified-after" value="{{modified-after}}">
      </div>
      <div class="form-text-box">
        <label for="explicit-query">Explicit Query</label><br/>
        <input type="text" name="InvoiceNumbers" id="explicitQueryInvoiceNumbers" placeholder="Invoice Numbers">
        <input type="text" name="IDs" id="explicitQueryInvoiceIds"  placeholder="InvoiceIDs">
        <input type="text" name="Statuses" id="explicitQueryStatus"  placeholder="Invoice Status">
        <input type="text" name="ContactIDs" id="explicitQueryContactIds"  placeholder="ContactIDs">
      </div>
      <div class="form-text-box">
        <label for="where">Where</label><br/>
        <input type="text" name="where" value="{{where}}">
      </div>
      <label for="page">Page</label><br/>
      <input type="number" name="page" value="{{page}}">
  </div>
  <div >
    <input type="submit" value="Submit">
  </div>
  </form>
</div>
<div class="response-container">
  Response: <br /> 
  
  <pre>{{beautiful invoices}}</pre>
 

</div>
</div>